## Pandas challenge

In [54]:
# Importing pandas
import pandas as pd

# Creating a DataFrame with three columns and three rows
data = {'LASTNAME': ['Lee', 'Kawskay', 'Campbell'],
        'FIRSTNAME': ['Ryan', 'Carrie', 'Craig'],
        'ADDRESS': ['2250 Park Ln 1114', '461 Silver Oakes Dr 7', '1157 Hampton Rd']}

df = pd.DataFrame(data)

# Displaying the DataFrame
df

   LASTNAME FIRSTNAME                ADDRESS
0       Lee      Ryan      2250 Park Ln 1114
1   Kawskay    Carrie  461 Silver Oakes Dr 7
2  Campbell     Craig        1157 Hampton Rd

In [55]:
# View Data
df.head()

   LASTNAME FIRSTNAME                ADDRESS
0       Lee      Ryan      2250 Park Ln 1114
1   Kawskay    Carrie  461 Silver Oakes Dr 7
2  Campbell     Craig        1157 Hampton Rd

In [56]:
#Data Index
df.index

RangeIndex(start=0, stop=3, step=1)

In [57]:
# Selecting and viewing the first column of the DataFrame
first_column = df['LASTNAME']
first_column

0         Lee
1     Kawskay
2    Campbell
Name: LASTNAME, dtype: object

In [58]:
# First row selection 
df[df.columns[0]]

0         Lee
1     Kawskay
2    Campbell
Name: LASTNAME, dtype: object

In [59]:
# Selecting and viewing the first row of the DataFrame as a DataFrame
first_row_df = df.iloc[[0]]
first_row_df

  LASTNAME FIRSTNAME            ADDRESS
0      Lee      Ryan  2250 Park Ln 1114

In [ ]:
# data frame to new csv 

df.to_csv("C:\\Users\\Jay\\Interactive data\\Kuchuru.csv")

## Why are dynamic, interacive vizualization usefull when communicating data?
<Answer>

In the realm of data communication, dynamic, interactive visualizations emerge as transformative tools. They empower users to actively engage with intricate datasets, fostering exploration and analysis. Unlike static counterparts, these visuals enable a personalized journey through data, allowing users to zoom in on details, customize views, and derive insights on demand. The adaptability of interactive visualizations accommodates diverse perspectives, presenting a comprehensive understanding of complex information. Furthermore, these visuals serve as dynamic narratives, guiding users through a compelling story. Real-time updates and cross-platform compatibility amplify their impact, transcending geographical boundaries and making data communication more accessible and resonant on the web.